<?xml version="1.0" encoding="UTF-8"?>
<settings
    xmlns="https://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups />
    <proxies>
        <!-- Proxy for HTTP -->
        <proxy>
            <id>optional</id>
            <active>true</active>
            <protocol>http</protocol>
            <username></username>
            <password></password>
            <host>proxy-host-url-or-ip</host>
            <port>proxy-port</port>
            <nonProxyHosts></nonProxyHosts>
        </proxy>

        <!-- Proxy for HTTPS -->
        <proxy>
            <id></id>
            <active>true</active>
            <protocol>https</protocol>
            <username></username>
            <password></password>
            <host>proxy-host-url-or-ip</host>
            <port>proxy-port</port>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
    </proxies>
</settings>